.App {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  height: 100vh;
}


.background-img {
  background: url("./img/books.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}

/* .sign-up {
  background: rgb(240,255,255);
  width: 70%;
  margin: auto;
  margin-top: 10%;
  border-radius: 5px;
  display: inline-block;
} */


.my-jumbotron {
  width: 60%;
  margin: auto;
  margin-top: 25vh;
  background-color: #d1d4d6;
  /* background-color: #333; */
  color: #333;
  border-radius: 5px;
  padding: 2vh 0 4vh 0;
}

.my-jumbotron p {
  font-size: 20px;
  margin-top: 3vh;
}

.my-jumbotron h1 {
  margin-top: 2vh;
}

.margin-left {
  margin-left: 1vh;
}

.signup-buttons {
  margin-top: 4vh;
}

.xxsmall {
  font-size: 0.5px;
}

.modal-bg {
  background-color: rgba(0, 0, 0, 0.657);
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow:auto;
}

.modal-content {
  background-color: #d1d4d6;
  margin:auto;
  margin-top: 10%;
  width: 35%;
  padding: 3vh 0;
}

.hidden {
  display:none;
}

.not-hidden {
  animation: modalopen 0.5s;
}

.signup-form {
  width: 60%;
  margin:auto;
  text-align: left;
}

.align-center {
  text-align: center;
}

@keyframes modalopen {
  from{opacity:0}
  to {opacity:1}
}



