.App {
  text-align: center;
  height: 100vh;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}


.background-img {
  background: url("./img/books.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}

/* .sign-up {
  background: rgb(240,255,255);
  width: 70%;
  margin: auto;
  margin-top: 10%;
  border-radius: 5px;
  display: inline-block;
} */


.my-jumbotron {
  width: 60%;
  margin: auto;
  margin-top: 20vh;
  background-color: #d1d4d6;
  /* background-color: #333; */
  color: #333;
  border-radius: 5px;
  padding: 2vh 0 4vh 0;
}

.my-jumbotron p {
  font-size: 20px;
  margin-top: 3vh;
}

.my-jumbotron h1 {
  margin-top: 2vh;
}

.margin-left {
  margin-left: 1vh;
}

.signup-buttons {
  margin-top: 4vh;
}

.xxsmall {
  font-size: 0.5px;
}

.modal-bg {
  background-color: rgba(0, 0, 0, 0.657);
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow:auto;
}

.modal-content {
  background-color: #d1d4d6;
  margin:auto;
  margin-top: 5%;
  width: 35%;
  padding: 3vh 0;
}

.hidden {
  display:none;
}

.not-hidden {
  animation: modalopen 0.5s;
}

.signup-form {
  width: 60%;
  margin:auto;
  text-align: left;
}

.align-center {
  text-align: center;
}

@keyframes modalopen {
  from{opacity:0}
  to {opacity:1}
}

.nav-container {
  background-color: #333;
  border-bottom: #333 2px solid;
  border-top: #333 2px solid;
}

.row-nav {
  display:grid;
  margin: 0;
  padding: 0;
  grid-template-columns: repeat(8,1fr);
  text-align: center;
}

.row-nav-item {
  color: #fff;
  margin: 0;
  padding: 0;
  padding: 2vh 0;
  font-size: 20px;
  border: 0;
  background-color: #333;
}

.row-nav-item:hover {
  text-decoration: none;
  background-color: #fff;
  color: #000;
}

.end-nav-item {
  grid-column: 8;
}

.margin-top {
  margin-top: 1.5vh;
}

.min-height {
  min-height: 90vh;
}

.grey-container {
  background-color: #d1d4d6;
  border-radius: 5px;
}

.padding-top-h1 {
  padding-top: 1vh;
  margin: 0;
}

.active-link {
  background-color: #fff;
  color: #000;
}

.bookmark-grid {
  display:grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 1vh 1vh;
  gap: 1vh 1vh;
  margin-top: 1vh;
  grid-auto-rows: minmax(25vh, auto);
}

.bookmark-element {
  border: rgba(51, 51, 51, 0.308) 1px solid;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  position: relative;
  background-color: rgb(238, 238, 238);
}

.btn-container {
  position: absolute;
  bottom: 0px;
  width: 100%;
}

.bookmark-element h1 {
  margin: 0;
  padding-top: 1vh;
  font-size: 33px;
  border-bottom: rgba(51, 51, 51, 0.308) 1px solid;
  padding-bottom: 1vh;
}

.bookmark-element p {
  margin:0;
  padding:0;
  margin: 1vh 0;
}

.go-to-btn {
  background-color: rgb(52, 120, 245);
  border: none;
  width: 100%;
  color: #fff;
  padding: 0.6vh 0;
}

.btn-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.edit-btn {
  background-color: #333;
  color: #fff;
  width: 100%;
  border: 0;
  padding: 0.5vh 0;
}

.delete-btn {
  background-color: rgb(187, 39, 39);
  color: #fff;
  width: 100%;
  border: 0;
  border-left:  rgba(51, 51, 51, 0.308) 1px solid;
  padding: 0.5vh 0;
}

.height-zero {
  height: 0;
  overflow: hidden;
  transition: height 0.6s;
}

.edit-display {
  height: 3.4vh;
}

.bookmark-header-container {
  display:grid;
  grid-template-columns: repeat(16,1fr);
}

.title-grid-element {
  grid-column: 7/11;
  align-self: center;
}

.save-grid-btn {
  grid-column: 16;
  margin-top: 20%;
  justify-self: right;
}

.edit-grid-btn {
  margin-top: 20%;
  justify-self: left;
}
