.App {
  text-align: center;
  height: 100vh;
}

.my-container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  width: 60%;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

button:focus {outline:0;}

.background-img {
  background: url("./img/books.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}

.margin-left {
  margin-left: 0.5vh;
}

.login-btn {
  padding-left: 2.6vh;
  padding-right: 2.6vh;
}

.signup-buttons {
  margin-top: 4vh;
  }

.my-modal {
  margin: auto;
  position: relative;
  background-color: #d1d4d6;
  /* background-color: #333; */
  color: #333;
  border-radius: 5px;
}

.signed-in-modal {
  width: 40%;
  top: 20vh;
  padding: 0.5vh 0 3vh 0;
}

.bookmarks-modal {
  top: 2vh;
}

.login-signup-modal {
  width: 20%;
  top: 20vh;
  padding: 0.2vh 0 3vh 0;

}

.form-modal {
  width: 35%;
  padding: 3vh 0;
  top: 15vh;
}

.my-modal p {
  font-size: 20px;
  margin-top: 3vh;
}

.my-modal h1 {
  margin-top: 2vh;
}

.modal-bg {
  background-color: rgba(0, 0, 0, 0.616);
  z-index: 1;
  left: 0;
  top: 0;
  height: 94.7vh;
  width: 100%;
  overflow:auto;
  opacity: 1;
}

.not-hidden {
  animation: modalopen 0.5s;
}

.signup-form {
  width: 60%;
  margin:auto;
  text-align: left;
}


@keyframes modalopen {
  from{opacity:0}
  to {opacity:1}
}

.nav-container {
  background-color: #333;
}

.row-nav {
  display:grid;
  margin: 0;
  padding: 0;
  grid-template-columns: repeat(8,1fr);
  text-align: center;
}

.row-nav-item {
  color: #fff;
  margin: 0;
  padding: 0;
  padding: 1vh 0;
  font-size: 1.8vh;
  border: 0;
  background-color: #333;
  border-bottom: 0.3vh solid transparent;
  border-top: 0.3vh solid transparent;
}


.row-nav-item:hover {
  text-decoration: none;
  background-color: #fff;
  color: #000;
}
 
.signup-nav-item {
  grid-column: 7;
}

.login-nav-item {
  grid-column: 8;
}

.margin-top {
  margin-top: 1.5vh;
}

.min-height {
  min-height: 90vh;
}

.padding-top-h1 {
  padding-top: 1vh;
  margin: 0;
}

.active-link {
  border-bottom: 0.3vh #fff solid;
}

.bookmark-grid {
  display:grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 1vh 1vh;
  gap: 1vh 1vh;
  margin-top: 1vh;
  grid-auto-rows: minmax(17vh, auto);
}

.bookmark-element {
  border: rgba(51, 51, 51, 0.308) 0.1vh solid;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  position: relative;
  background-color: rgb(238, 238, 238);
}

.btn-container {
  position: absolute;
  bottom: 0px;
  width: 100%;
}

.bookmark-element h1 {
  margin: 0;
  padding-top: 1vh;
  padding-left: 1vh;
  padding-right: 1vh;
  font-size: 25px;
  border-bottom: rgba(51, 51, 51, 0.308) 0.1vh solid;
  padding-bottom: 1vh;
}

.bookmark-element p {
  margin:0;
  padding:0;
  margin: 1vh 0;
}

.go-to-btn {
  background-color: rgb(52, 120, 245);
  border: none;
  width: 100%;
  color: #fff;
  padding: 0.6vh 0;
}

.btn-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.edit-btn {
  background-color: #333;
  color: #fff;
  width: 100%;
  border: 0;
  padding: 0.5vh 0;
}

.delete-btn {
  background-color: rgb(187, 39, 39);
  color: #fff;
  width: 100%;
  border: 0;
  border-left:  rgba(51, 51, 51, 0.308) 0.1vh solid;
  padding: 0.5vh 0;
}

.height-zero {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.6s;
}

.edit-display {
  max-height:5vh;
}

.bookmark-header-container {
  display:grid;
  grid-template-columns: repeat(12,1fr);
}

.title-grid-element {
  grid-column: 5/9;
  align-self: center;
}

.save-grid-btn {
  grid-column: 12;
  margin-top: 20%;
  justify-self: right;
}

.left-grid-btn {
  margin-top: 20%;
  justify-self: left;
}

.username-border {
  display: inline;
  border: rgba(51, 51, 51, 0.445) 1px solid;
  padding: 0 0.5vh 0.5vh 0.5vh;
  border-radius: 5px;
  background-color: rgba(226, 227, 228, 0.746);
}

.spinner-1 {
  /* content: ""; */
  /* box-sizing: border-box; */
  position: relative;
  top: 50%;
  left: 50%;
  height: 30px;
  width: 30px;
  margin: 0 0 0 -15px;
  border-radius: 50%;
  border: 2px solid rgb(19, 78, 155);
  border-top-color: #fff;
  animation: spinner 0.7s linear infinite;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.fixed-size {
  width: 10vh;
  height: 5vh;
}

.border-bottom-plus {
  border-bottom: rgba(51, 51, 51, 0.308) 0.1vh solid;
}

.plus-header {
  border-bottom: none;
}

.nested-grid {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 1vh;
}

.plus-bookmark-element {
  border: 1px solid rgb(255, 255, 255);
  border-radius: 5px;
}

.nested-bookmark-element h1 {
  padding: 0;
  margin: 0;
}

.plus-img {
  max-width: 80%;
  max-height: 80%;
  vertical-align: middle;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.plus-container {
  width: 100px;
  margin:auto;
  margin-top: 5.5vh;
}

.small-italics {
  font-size: 13px;
}

.align-right {
  text-align: right;
}

.display-block {
  display: block;
}
